@model IEnumerable<CRUD_Entity.Models.Piloto>
@{
    ViewBag.Title = "Index";
}
<h2>Registro de Pilotos</h2>
<p>
    @Html.ActionLink("Registrar novo piloto", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Pesquisar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("RG", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Número da Licença", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("CPF / CNPJ", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Sobrenome", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroLicenca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPFCNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdPiloto }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdPiloto }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.IdPiloto })
            </td>
        </tr>
    }
</table>
